.subtitle-order > div > p {
	color: #bf3949;
}

.f-subheader.f-subheader-.f-text-transform-uppercase{
color: #bf3949;
}

hr {
	margin-top: 15px;
	margin-bottom: 20px;
}

.label-value {
	font-size: 15px;
}

@media screen and (max-width: 450px) {
.f-subheader.f-subheader-sm {
	font-size: 14px;
}}

@media screen and (max-width: 410px) {
.f-input {
	height: 45px;
	font-size: 14px;
}
	.f-subheader.f-subheader-sm {
	font-size: 14px;
		display: none;
	}
	.f-header.f-header-26 {
	font-size: 20px;
	line-height: 1.23;
		margin-top:-20px;
}
	.field-label {
	font-size: 12px !important;
}
	
.block-set {
	font-size: 14px;
}
}

.btn.f-btn.button-md {
	min-height: 55px;
}
.lt-text-header-expand .text {
	padding-top: 8px;
	margin-left: -11px;
}
@media screen and (max-width: 400px) {
	.lt-form form.lt-form-inner {
	padding-left: 15px !important;
	padding-right: 15px !important;
	padding-bottom: 10px !important;
	}}

.footerform {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: -40px;
	margin-right: -40px;
	background: #f7f7f7 !important;
}

.f-text {
	font-family: 'roboto',serif;
	font-weight: 300;
}

.field-label {
	font-size: 15px;
}


.lt-text-header-expand .text {
	padding-top: 8px;
}

.builder-item.part-total {
	font-size: 18px;
}

.dotted-link {
	font-size: 14px;
}

.strike::before {
	display: none;
}

.f-header.f-header-26 {
	margin-top: -15px;
}

.text-muted {
	color: #777;
	padding-left: 40px;
}

.offer-title {
	padding-bottom: 7px;
}

/*
.pull-left.form-position-title {
	float: initial !important;
}
*/

.offer-title {
	font-size: 15px;
	display: block;
	padding-left: 38px;
}

.builder-item.part-position {
	background: #fff;
	padding: 0px !important;
	margin-bottom: 10px !important;

}

.form-position {

	display: block;
	cursor: pointer;
	padding-left: 15px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin-bottom: 0px !important;
}

.form-position-price.pull-right {
	background-color: #ffeec6;
	padding: 7px;
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 4px;
	margin-top: 7px;
	/* color: white; */
}



.form-position.selected {
	background: #f4f4f4;
	margin-bottom: 0px !important;
}


.f-input {
	border: 1px solid rgb(204, 204, 204);
	height: 52px;
	font-size: 15px;
	color: #7d7d7d;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	}
	
.global-confirm-checkbox-block {
	display: none;
}

.lt-form .f-input-wrapper select 
{
	border: 1px solid rgb(204, 204, 204);
	height: 52px;
	font-size: 15px;
	color: #7d7d7d;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
}

