.f-text {
	font-family: 'roboto',serif;
	font-weight: 300;
}

.field-label {
	font-size: 15px;
}


.subtitle-order > div > p {
	color: #bf3949;
}

.f-subheader.f-subheader-.f-text-transform-uppercase{
color: #bf3949;
}

hr {
	margin-top: 15px;
	margin-bottom: 20px;
}

.label-value {
	font-size: 15px;
}


.btn.f-btn.button-md {
	min-height: 55px;
}

.lt-text-header-expand .text {
	padding-top: 8px;
	margin-left: -11px;
}

.footerform {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: -40px;
	margin-right: -40px;
	background: #f7f7f7 !important;
}

.lt-text-header-expand .text {
	padding-top: 8px;
}

.builder-item.part-total {
	font-size: 18px;
}

.dotted-link {
	font-size: 14px;
}

.strike::before {
	display: none;
}

.f-header.f-header-26 {
	margin-top: -15px;
}


/*
.pull-left.form-position-title {
	float: initial !important;
}
*/

.offer-title {
	font-size: 15px;
	display: block;
	padding-left: 20px;
	padding-bottom: 7px;
}

.text-muted {
	color: #777;
	padding-left: 35px;
}

.builder-item.part-position {
	background: #fff;
	padding: 0px !important;
	margin-bottom: 10px !important;

}

.form-position {
	padding-left: 15px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin-bottom: 0px !important;
}

.form-position-price.pull-right {
	background-color: #ffeec6;
	padding: 7px;
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 4px;
	margin-top: 7px;
	/* color: white; */
}


.form-position.selected {
	background: #f4f4f4;
	margin-bottom: 0px !important;
}

.lt-form form.lt-form-inner {
	border-radius: 6px !important;
}

.lt-form .f-input {
	border: 1px solid #8c8c8c !important;
	height: 55px;
	font-size: 15px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #1e1e1e;
}

.lt-form .f-input-wrapper select 
{
	border: 1px solid #8c8c8c;
	font-size: 15px;
	color: #7d7d7d;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: white;
	height: 55px;
	
}

.global-confirm-checkbox-block {
	display: none;
}

@media screen and (max-width: 450px) {
.f-subheader.f-subheader-sm {
	font-size: 14px;
}}


@media screen and (max-width: 410px) {
	
	input.f-input {
	height: 50px;
	font-size: 14px;
}	
	
	.f-subheader.f-subheader-sm {
	font-size: 14px;
		display: none;
	}
	
	.f-header.f-header-26 {
	font-size: 20px;
	line-height: 1.23;
	margin-top:-20px;
}
	
	.field-label {
	font-size: 13px !important;
}

	.label-value {
	font-size: 13px;
	margin-bottom: 5px;
	font-weight: 400;
	font-family: "Open Sans",sans-serif,sans,arial;
}
	
	.block-set {
	font-size: 14px;
}
	.builder-item.part-total {
	font-size: 15px !important;
}

	.lt-form form.lt-form-inner {
	padding-left: 20px !important;
	padding-right: 20px !important;
	padding-bottom: 20px !important;
	}
	
	.lt-form .f-input-wrapper select {
	border: 1px solid #8c8c8c;
	height: 50px;
	font-size: 14px
	
}
}
